<div class="col-md-2 text-right">


    <h1>我管理的项目</h1>

  
</div>
<div class="col-md-10">



  <ol class="breadcrumb">
    <li class="active">项目</li>
  </ol>



  <table class="table table-striped">
    <thead>
      <tr>
        <td>项目名</td>
        <td>项目描述</td>

      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
      <tr>
        <td><%= link_to(project.name,my_project_path(project)) %></td>
        <td><%= project.description %></td>
      </tr>
      <% end %>
    </tbody>
  </table>


</div>  