<%= simple_form_for @project do |f| %>
  <div class="form-group">
    <%= f.input :name,label: '项目名', input_html: { class: "form-control"} %>
    <%= f.input :description,label: '任务描述', input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "提交", class: "btn btn-primary", data: { disable_with: "提交中..." } %>
<% end %>