<table class="table">
<% @workflows.each do |w| %>
  <tr>
    <td>
      <%= link_to w.user.name, admin_user_path(w.user) %> 在 <%=link_to 'Y' + w.weekly.year.to_s + 'w' + w.weekly.week.to_s ,admin_user_weekly_path(w.user,w.weekly)%> 提交了一条工作流
    </td>
    <td>
      <%= w.created_at %>
    </td>
  </tr>
<% end %>
</table>


<div class="text-center">
  <%= will_paginate @workflows %>
</div>