<ul class="nav nav-pills nav-stacked">
  <li role="presentation">
    <%= link_to admin_projects_path do %>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 项目管理
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to admin_sbus_index_path do %>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 用户管理
    <% end %>
  </li>

  <li role="presentation">
    <%= link_to admin_weekly_templates_path do %>
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 周报管理
    <% end %>
  </li>



</ul>
