<ul class="nav nav-pills nav-stacked">
  <li role="presentation">
    <%= link_to root_path do %>
      <h1>本周周报</h1>
      <p><strong>W<%= @current_weekly.week %></strong> <small>(<%= @start_time %> ~ <%= @end_time %>)</small></p>
    <% end %>
  </li>


</ul>
