<!-- Button trigger modal -->
<p>本周工作量: <strong style="font-size: 3em"><%= @current_weekly_workhours %>小时</strong>   </p>

<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#newWorkflow">
  新增一条工作内容
</button>

<%= render 'workflows_table' %>



<!-- Modal -->
<div class="modal fade" id="newWorkflow" tabindex="-1" role="dialog" aria-labelledby="newWorkflowLabel">
  <div class="modal-dialog" role="document">

    <%= render "workflow_form" %>


  </div>
</div>